
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
} 

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 150px 1fr;
    font-size: 20px;
    font-weight: 700;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    align-content: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1892d3;
    color: #ffffff;
    padding: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 24px;
}

.dashboard svg {
    width: 40px;
    height: 40px;
}

.sidebar div:not(.dashboard) {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.sidebar svg:not(.dashboard svg) {
    width: 20px;
    height: 20px;
}

.communities {
    margin-bottom: 24px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #ffffff;
    box-shadow: 1px 0px 1px gray;
}

.search, .profilePic, .buttons {
    display: flex;
}

.profileGreet {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 12px;
}

.profileGreet svg {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self:end ;
    width: 64px !important;
    height: 64px !important;
}

.profileGreet p:nth-child(0) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 10px;
}

.profileGreet p:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search {
    justify-content: center;
    align-items: center;
    gap: 12px;
}

form input[type="search"] {
    border: none;
    width: 600px;
    height: 30px;
    border-radius: 20px;
    background-color: #e1e8f0;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
  }

.profilePic {
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.buttons {
    justify-content: space-evenly;
}

.buttons button{
    height: 48px;
    width: 130px;
    border-radius: 999px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1892d3;
    color: #ffffff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #147ab5;
}

.header svg {
    width: 24px;
    height: 24px;
}

#proPicSmall {
    width: 42px;
    height: 42px;
}

.main {    
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: #e1e8f0;
}

.article {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
    margin: 60px 20px;
}

.article .card {
    height: 200px;
    width: 350px;
    background-color: #ffffff;
    border-left: 6px solid #e9b42f;
    border-radius: 2%;
    box-shadow: 1px 1px 1px gray;
}

.card p {
    color: #b6b6b6;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}

.card .title {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 30px 0px 0px 25px;
}

.announcement {
    grid-row: 1 / 2;
    align-self: start;
    width: 350px;
    background-color: #ffffff;
    border-radius: 2%;
    margin: 60px 0px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 1px gray;
}

.announcement .card:nth-child(1) {
    padding-bottom: 20px;
    border-bottom: 2px solid #e1e1e1;
}

.announcement .card:nth-child(2) {
    padding-bottom: 20px;
    border-bottom: 2px solid #e1e1e1;
}

.announcement .title {
    margin-bottom: 5px;
}

.trending {
    grid-row: 2 / 3;
    align-self: start;
    width: 350px;
    padding-bottom: 30px;
    background-color: #ffffff;
    border-radius: 2%;
    box-shadow: 1px 1px 1px gray;
}

.trending .title {
    margin-bottom: 2px;
}